process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    errorStrategy = { task.exitStatus in [130, 137, 140, 143] ? 'retry' : 'terminate' }
    maxRetries = 1

    withName: PREFLIGHT {
        cpus = 1
        memory = '1 GB'
        time = '15 min'
        container = params.containers.python
    }

    withName: VALIDATE_SAMPLESHEET {
        cpus = 1
        memory = '1 GB'
        time = '15 min'
        container = params.containers.python
    }

    withName: PREPARE_BWAMEM2_INDEX {
        cpus = 12
        memory = '100 GB'
        time = '24 h'
        container = params.containers.align
    }

    withName: CONCAT_PE_FASTQS {
        cpus = 1
        memory = '4 GB'
        time = '6 h'
    }

    withName: CONCAT_SE_FASTQS {
        cpus = 1
        memory = '4 GB'
        time = '6 h'
    }

    withName: FASTP_PE {
        cpus = 4
        memory = '20 GB'
        time = '12 h'
        container = params.containers.fastp
    }

    withName: FASTP_SE {
        cpus = 4
        memory = '20 GB'
        time = '12 h'
        container = params.containers.fastp
    }

    withName: ALIGN_MARKDUP_PE {
        cpus = 16
        memory = '64 GB'
        time = '48 h'
        container = params.containers.align
    }

    withName: ALIGN_MARKDUP_SE {
        cpus = 16
        memory = '64 GB'
        time = '48 h'
        container = params.containers.align
    }

    withName: PLAN_CLEAVAGE_CHUNKS {
        cpus = 1
        memory = '4 GB'
        time = '2 h'
        container = params.containers.cleavage
    }

    withName: CLEAVAGE_CALL_CHUNK {
        cpus = 1
        memory = '16 GB'
        time = '48 h'
        maxForks = params.cleavage_chunks as int
        container = params.containers.cleavage
    }

    withName: FINALIZE_CLEAVAGE_CALL {
        cpus = 1
        memory = '16 GB'
        time = '12 h'
        container = params.containers.cleavage
    }

    withName: MULTIQC {
        cpus = 2
        memory = '8 GB'
        time = '2 h'
        container = params.containers.multiqc
    }
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/nextflow_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
}
