params {
    container_bind_paths = ['/proj', '/work', '/users', '/overflow', '/nas']
    ref_cache = '/proj/jmsimon/Zylka/digenome-seq_pipeline/reference_cache'

    containers = [
        python: '/proj/jmsimon/Zylka/digenome-seq_pipeline/containers/multiqc_v1.35.sif',
        fastp: '/proj/jmsimon/Zylka/digenome-seq_pipeline/containers/fastp_v1.3.3.sif',
        align: '/proj/jmsimon/Zylka/digenome-seq_pipeline/containers/bwa-mem2_v2.3_samtools_v1.22.sif',
        cleavage: '/proj/jmsimon/Zylka/digenome-seq_pipeline/containers/cleavage_pysam_v0.23.3.sif',
        multiqc: '/proj/jmsimon/Zylka/digenome-seq_pipeline/containers/multiqc_v1.35.sif'
    ]
}

apptainer {
    cacheDir = '/proj/jmsimon/Zylka/digenome-seq_pipeline/containers'
    runOptions = '--bind /proj --bind /work --bind /users --bind /overflow --bind /nas'
}
