params {
    container_bind_paths = ['/proj', '/work', '/users', '/overflow', '/nas']
    ref_cache = "${projectDir}/reference_cache"

    containers = [
        python: "${projectDir}/containers/multiqc_v1.35.sif",
        fastp: "${projectDir}/containers/fastp_v1.3.3.sif",
        align: "${projectDir}/containers/bwa-mem2_v2.3_samtools_v1.22.sif",
        cleavage: "${projectDir}/containers/cleavage_pysam_v0.23.3.sif",
        multiqc: "${projectDir}/containers/multiqc_v1.35.sif"
    ]
}

apptainer {
    cacheDir = "${projectDir}/containers"
    runOptions = '--bind /proj --bind /work --bind /users --bind /overflow --bind /nas'
}
